<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MysqlHoverTree.Properties.Settings.mydbConnectionString" connectionString="server=localhost;user id=root;password=yuanding;persistsecurityinfo=True;database=mydb" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
